.home1 {
    width:15%;
    /* border:solid; */
    height: 100%;
    margin-top: 0;
  }
.employee{
    width:100%;
}
  
.employee ul {
    list-style-type: none;
    margin:0;
    padding: 0;
    width: 15%;
    background-color: green;
    position: fixed;
    height: 100%;
    overflow: auto; 
}
.employee button{
    background-color:green;
    border-radius: 10px;
  }
  
.employee li button {
    width:75%;
    display: block;
    color: white;
    padding: 5px 1px;
    text-decoration: none;
    margin-top: 5px;
    margin-left:15%;
    border-color: green;
  }
  
.employee li button.active {
    background-color: #04AA6D;
    color: white;
  }
  
.employee li button:hover:not(.active) {
    background-color: #555;
    color: white;
  } 