* {
    box-sizing: border-box;
}
.box {
    width: 90%;
    margin:auto;
}
.box form {
    width: 60%;
    margin: auto;  
    padding: 25px; 
    border: 1px solid black;
    border-radius: 18px;
}
.box form h3 {
    margin: 0px 0px 0px 250px;
    padding: 25px;
    color: green;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.box form label {
    display: block;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    /* color: black; */
    padding: 5px;
    margin: 0px 0px 0px 250px;
}
.box form input {
    display: block;
    width: 30%;
    padding: 5px;
    margin: 5px 0px 10px 250px;
    /* color: black; */
    border: 1px solid green;
    border-radius: 6px;
}
.box form input:focus {
    /* border: black; */
    background-color: white;
    outline-color: green;
    outline-width: 0px;
}
.box form select {
    display: block;
    width: 30%;
    padding: 5px;
    margin: 5px 0px 10px 250px;
    /* color: black; */
    border: 1px solid green;
    border-radius: 6px;
}
.box form button {
    display: block;
    width: 15%;
    padding: 5px;
    margin: 15px 0px 10px 300px;
    background-color: green;
    color: white;
    border: 1px solid green;
    border-radius: 6px;
}