* {
    box-sizing: border-box;
}
.box {
    width: 100%;
    border: solid;
}
.box form {
    /* padding-top: 2rem;
    width : 500px; */
    /* border: solid; */
    /* margin:auto;
    margin-top: 5%; */
    width:50%;
    /* border:solid; */
    margin-left: 30%;
}
.box form h3 {
    margin: 0px 180px 5px 180px;
    color: green;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.box form input {
    width: 100%;
    padding: 8px 10px;
    margin: 8px 0;
    border: 2px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
.box form input:focus {
    border: 2px solid green;
    outline-width: 0;
}
.box form select {
    width: 100%;
    padding: 8px 10px;
    margin: 8px 0;
    border: 2px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
.box form select:focus {
    border: 2px solid green;
    outline-width: 0;
}
.box form button {
    width: 100%;
    padding: 8px 10px;
    margin: 8px 0;
    border: 2px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: green;
}
.check {
    width: 40%;
    margin: auto;
    /* border: solid; */
}
.check h4 {
    /* margin: 0px 180px 5px 180px; */
    color: black;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}
.check input {
    display: inline-block;
    /* width: 15px;
    height: 15px; */
    margin: 20px 35px 20px 25px;
}
.check label {
    display: inline-block;
}