.labour {
    width: 100%;
    margin-top: -60%;


}


.check {
    width: 100%;
   
}
.checkbox {
    width : 500px;
    /* border: solid; */
    margin:auto;
    margin-top: 50px;
    /* margin-top: 5%; */
}
.labour h1{
    margin: 0px 180px 5px 180px;
    color: green;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 45%;


}
.labour h2{
    margin: 0px 180px 5px 180px;
    color: green;
    font-size: 15px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 45%;
    margin-top: 50px


}
.checkbox input {
    display: inline-block;
 
    margin-left: 6rem;
    /* margin-left: 5rem; */
    /* margin-right: 1rem */
 
}
.checkbox label {
    display: inline-block;
}
.labour button {
    width: 50%;
    padding: 8px 10px;
    margin: 15px 5px 0px 15px;
    border: 2px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: green;
    color: white;
    margin-left: 28%;
}
